.wrapper {
  display: flex;
  min-width: 250px;
}

.status {
  margin-bottom: 1rem;
}

.btn {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.btn:hover {
  color: black;
  border-color: black;
  background-color: white;
}
